/* styles.css */

/* Custom styling for the range input */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #ccc;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 20px 0;
}

/* Custom styling for the thumb */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/* Adjustments for Mozilla Firefox */
@-moz-document url-prefix() {
    input[type=range] {
        height: 16px;
    }
}
